# CDK
cdk.out/
.cdk.staging/

# Python
.venv/
__pycache__/
*.pyc
*.pyo
.eggs/
*.egg-info/
dist/
build/

# Lambda build artifacts and installed dependencies
lambda/**/package/
lambda/**/*.zip
lambda/**/*.dist-info/
lambda/**/*.egg-info/
lambda/**/bin/
lambda/**/pypdf/
lambda/**/pypdf_table_extraction/

# Env
.env
.env.*
